<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>
<div class="main-div">
  <button [ngClass]="{'selected': selectedCategory == 'ai'}" class="button-div" (click)="onCategoryChange('ai')">AI</button>
  <button [ngClass]="{'selected': selectedCategory == 'rwa'}" class="button-div" (click)="onCategoryChange('rwa')">RWA</button>
  <button [ngClass]="{'selected': selectedCategory == 'meme'}" class="button-div" (click)="onCategoryChange('meme')">Meme</button>
  <button [ngClass]="{'selected': selectedCategory == 'gaming'}" class="button-div" (click)="onCategoryChange('gaming')">Gaming</button>
</div>
  
<app-rank [data]="data"></app-rank>