<div *ngIf="isLoading" class="loading-overlay">
  <div class="loader"></div>
</div>
<div class="main-div">
  <div class="title-div">
    <img src="assets/astronaut.png" alt="Astronaut" class="logo">
  </div>
  <div class="button-div">
    <button [ngClass]="{'button-blue-selected': selectedCategory == 'ai'}" class="button-blue" (click)="onCategoryChange('ai')">AI</button>
    <button [ngClass]="{'button-yellow-selected': selectedCategory == 'rwa'}" class="button-yellow" (click)="onCategoryChange('rwa')">RWA</button>
    <button [ngClass]="{'button-green-selected': selectedCategory == 'meme'}" class="button-green" (click)="onCategoryChange('meme')">Meme</button>
    <button [ngClass]="{'button-pink-selected': selectedCategory == 'gaming'}" class="button-pink" (click)="onCategoryChange('gaming')">Gaming</button>
  </div>
</div>
  
<app-rank [data]="data"></app-rank>