.main-div {
    width: 90%;
    align-items: center;
    padding: 30px 30px 0px 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 5px;
}

::ng-deep .title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.logo {
    width: 150px;
    height: auto;
    
}

.logo:hover {
    /* bounce */
    animation: bounce 0.5s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.title-div {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    font-family: Inter, Roboto, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #C467E0;
    margin: 0;
}

button {
    font-family: Inter, Roboto, sans-serif;
    width: 8rem;
    height: 2.5rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.button-div {
    display: flex;
    gap: 5px;
}

/* Button styling for each color */
.button-green {
    background-color: white;
    border: 3px solid #32CA5B;
    color: #32CA5B;
}

.button-blue {
    background-color: white;
    border: 3px solid #2196f3;
    color: #2196f3;
}

.button-yellow {
    background-color: white;
    border: 3px solid #faa200;
    color: #faa200;
}

.button-pink {
    background-color: white;
    border: 3px solid #e91e63;
    color: #e91e63;
}

/* Hover effects */
.button-green:hover,
.button-green-selected {
    background-color: #32CA5B;
    color: white;
    cursor: pointer;
}

.button-blue:hover,
.button-blue-selected {
    background-color: #2196f3;
    color: white;
    cursor: pointer;
}

.button-yellow:hover,
.button-yellow-selected {
    background-color: #faa200;
    color: white;
    cursor: pointer;
}

.button-pink:hover,
.button-pink-selected {
    background-color: #e91e63;
    color: white;
    cursor: pointer;
}

/* Loading overlay */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 70px;
    height: 26px;
    background: #3FD97F;
    --c:no-repeat linear-gradient(#000 0 0);
    --s:18px 18px;
    -webkit-mask:
      var(--c) left  4px top 50%,
      var(--c) center,
      var(--c) right 4px top 50%,
      linear-gradient(#000 0 0);
    mask:
      var(--c) left  4px top 50%,
      var(--c) center,
      var(--c) right 4px top 50%,
      linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    animation: l2 1.5s infinite;
  }
  @keyframes l2 {
    0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
    16.67%{-webkit-mask-size:var(--s),0    0  ,0    0  ,auto}
    33.33%{-webkit-mask-size:var(--s),var(--s),0    0  ,auto}
    50%   {-webkit-mask-size:var(--s),var(--s),var(--s),auto}
    66.67%{-webkit-mask-size:0    0  ,var(--s),var(--s),auto}
    83.33%{-webkit-mask-size:0    0  ,0    0  ,var(--s),auto}
    100%  {-webkit-mask-size:0    0  ,0    0  ,0    0  ,auto}
  }