button {
    background-color: #175f2a;
    transition: all ease-in-out 0.2s;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: #175f2a;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-div {
    display: flex;
    gap: 10px;
    align-items: center;
    p {
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }
}