<h1 mat-dialog-title class="custom-dialog-title">Item Details</h1>
<div mat-dialog-content class="custom-dialog-content">
  <p>Category: {{ data.category }}</p>
  <p>Future Multiply: {{ data.future_multiply }}</p>
  <p>Current Close Price: {{ data.last_close }}</p>
  <p>Predicted Close Price: {{ data.last_pred_close }}</p>
  <p>Market Cap Level: {{ data.market_cap_level }}</p>
  <p>Market Cap: {{ data.marketcap }}</p>
  <p>Token: {{ data.name }} ({{ data.symbol }})</p>
  <p>ID: {{ data.id }}</p>
  <app-chart [category]="category" [tokenId]="tokenID"></app-chart>
</div>