table {
  min-width: 90%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0px auto;
}

.table-div {
  padding-bottom: 30px;
}

tr:hover {
  background-color: #b7fac53a;
  cursor: pointer;
}

tr:not(:hover) {
  transition: background-color 0.2s ease-out;
}

th, td {
  padding: 8px;
  border-color: lightgrey;
  color: rgb(30, 32, 30);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.mat-cell {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centers the content horizontally */
  vertical-align: middle;
}

/* Icon colors */
.red-color {
  color: #FF3A33; /* Color for future_multiply < 1 */
}

.green-color {
  color: #32CA5B; /* Color for future_multiply > 1 */
}

.grey-color {
  color: #64748B; /* Color for future_multiply == 1 */
}

.badge-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
}

.bg-dark-green {
  background-color: #32CA5B;
  color: white;
}

.bg-orange {
  background-color: #faa200;
  color: white;
}