table {
  min-width: 90%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 0px auto;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

th, td {
  padding: 8px;
  border-color: lightgrey;
  color: black;
  text-align: center;
  font-weight: 500;
}

.mat-cell {
  display: flex;
  align-items: center;
  justify-content: center;  /* Centers the content horizontally */
  vertical-align: middle;
}

/* Icon colors */
.red-color {
  color: red; /* Color for future_multiply < 1 */
}

.green-color {
  color: green; /* Color for future_multiply > 1 */
}

.grey-color {
  color: grey; /* Color for future_multiply == 1 */
}

.badge-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
}

.bg-dark-green {
  background-color: #4CAF50;
  color: white;
}

.bg-orange {
  background-color: #FFA500;
  color: white;
}